WaterShed/Service References/WaterShedservice/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3392/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3392/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3392/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOM" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_doLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:doLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_doLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:doLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_doRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:doRegister" />
  </wsdl:message>
  <wsdl:message name="IService1_doRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:doRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgetPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ForgetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_doGetCrop_InputMessage">
    <wsdl:part name="parameters" element="tns:doGetCrop" />
  </wsdl:message>
  <wsdl:message name="IService1_doGetCrop_OutputMessage">
    <wsdl:part name="parameters" element="tns:doGetCropResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_doGetCropList_InputMessage">
    <wsdl:part name="parameters" element="tns:doGetCropList" />
  </wsdl:message>
  <wsdl:message name="IService1_doGetCropList_OutputMessage">
    <wsdl:part name="parameters" element="tns:doGetCropListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_doRemoveCrop_InputMessage">
    <wsdl:part name="parameters" element="tns:doRemoveCrop" />
  </wsdl:message>
  <wsdl:message name="IService1_doRemoveCrop_OutputMessage">
    <wsdl:part name="parameters" element="tns:doRemoveCropResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_doAddCrop_InputMessage">
    <wsdl:part name="parameters" element="tns:doAddCrop" />
  </wsdl:message>
  <wsdl:message name="IService1_doAddCrop_OutputMessage">
    <wsdl:part name="parameters" element="tns:doAddCropResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStates" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicy" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="doLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/doLogin" message="tns:IService1_doLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/doLoginResponse" message="tns:IService1_doLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/doRegister" message="tns:IService1_doRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/doRegisterResponse" message="tns:IService1_doRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ForgetPassword" message="tns:IService1_ForgetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ForgetPasswordResponse" message="tns:IService1_ForgetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangePassword" message="tns:IService1_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangePasswordResponse" message="tns:IService1_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doGetCrop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/doGetCrop" message="tns:IService1_doGetCrop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/doGetCropResponse" message="tns:IService1_doGetCrop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doGetCropList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/doGetCropList" message="tns:IService1_doGetCropList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/doGetCropListResponse" message="tns:IService1_doGetCropList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doRemoveCrop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/doRemoveCrop" message="tns:IService1_doRemoveCrop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/doRemoveCropResponse" message="tns:IService1_doRemoveCrop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doAddCrop">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/doAddCrop" message="tns:IService1_doAddCrop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/doAddCropResponse" message="tns:IService1_doAddCrop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllStates" message="tns:IService1_GetAllStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllStatesResponse" message="tns:IService1_GetAllStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPolicy" message="tns:IService1_AddPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPolicyResponse" message="tns:IService1_AddPolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/doLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doRegister">
      <soap:operation soapAction="http://tempuri.org/IService1/doRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgetPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ForgetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGetCrop">
      <soap:operation soapAction="http://tempuri.org/IService1/doGetCrop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGetCropList">
      <soap:operation soapAction="http://tempuri.org/IService1/doGetCropList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doRemoveCrop">
      <soap:operation soapAction="http://tempuri.org/IService1/doRemoveCrop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doAddCrop">
      <soap:operation soapAction="http://tempuri.org/IService1/doAddCrop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStates">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3392/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>