WaterShed/Service References/WaterShedservice/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3392/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BOM" />
  <xs:element name="doLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="doLoginResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doGetCrop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="crop" nillable="true" type="q4:watershed_crop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doGetCropResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="doGetCropResult" nillable="true" type="q5:watershed_crop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doGetCropList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="doGetCropListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="doGetCropListResult" nillable="true" type="q6:ArrayOfwatershed_crop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doRemoveCrop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="crop" nillable="true" type="q7:watershed_crop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doRemoveCropResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doRemoveCropResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doAddCrop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="crop" nillable="true" type="q8:watershed_crop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doAddCropResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doAddCropResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BOM" minOccurs="0" name="GetAllStatesResult" nillable="true" type="q9:ArrayOfwatershed_state" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>